<<Registro_Cliente>>
DECLARE
    TYPE type_cliente IS RECORD (
        run         SOCIO.numrun%TYPE,
        dv          SOCIO.dvrun%TYPE,
        pnombre     SOCIO.pnombre%TYPE,
        snombre     SOCIO.snombre%TYPE
    );
    
    /*Cusor que realiza búsqueda de similitudes de nombres de comuna dando mas informacion*/
    CURSOR cur_ubicacion (p_nombre_comuna COMUNA.nombre_comuna%TYPE) IS
        SELECT
            c.cod_comuna,
            c.nombre_comuna,
--            p.nombre_provincia,
            r.nombre_region
        FROM region r
            JOIN provincia p
                ON r.cod_region = p.cod_region
            JOIN comuna c
                ON c.cod_region = r.cod_region AND c.cod_provincia = p.cod_provincia
        WHERE UPPER(c.nombre_comuna) LIKE UPPER('%cha%');
    
    
    /*VARRAY donde se guardan id de comunas ya buscadas para facilitar selección.*/
    TYPE arr_comunas IS VARRAY(106) OF COMUNA.cod_comuna%TYPE;
    
    varray_cod_comuna arr_comunas;
    
    /*Variables obligatorias*/
    v_str_run   VARCHAR2(12);   -- 12.345.678-9 ó 12345678-9
    v_pnombre   VARCHAR2(100);  -- 'Exequiel ' ó 'Exe21quiel' (considerar 'Exequiel ')
    v_apellidos VARCHAR2(100);  -- 'Pulgar Cerda'. Sí o sí deben ser dos.
                                    -- En caso de apellidos, comprenderemos "paterno" 
                                    --como el primero por motivos de regulación de datos.
    v_fecha_nac VARCHAR2(10);   -- ISO 8601: https://www.ionos.es/digitalguide/paginas-web/desarrollo-web/iso-8601/
    v_nom_comun COMUNA.nombre_comuna%TYPE;
    
    v_pnombre_flag   BOOLEAN;
BEGIN
    v_pnombre_flag := FALSE;
    
    LOOP
        <<Ingreso_Nombre>>
        BEGIN
            DBMS_OUTPUT.PUT_LINE('Ingrese NOMBRES de socio (ej. "José Miguel" o "José").');
            v_pnombre := &v_nombres;
            -- Eliminar ingreso de numeros en nombre // https://stackoverflow.com/a/21464781
            v_pnombre := TRIM(TRANSLATE(v_pnombre, 'a1234567890 ', 'a');
            EXIT WHEN v_nombre_flag = TRUE;
            EXCEPTION
                WHEN NO_DATA_FOUND
                THEN
                    DBMS_OUTPUT.PUT_LINE('NO HA INGRESADO NOMBRES');
                    
        END;
    END LOOP;
    
END;