VAR b_id_prod NUMBER
    EXEC :b_id_prod := &ID_PROD_INV;

<<Generar_nro_solic_prod>>
DECLARE
    v_ult_id  NUMBER(7);
    v_prod_id NUMBER(3);
    e_prod_inexistente EXCEPTION;
BEGIN
    DBMS_OUTPUT.PUT_LINE(:b_id_prod);
    SELECT
        cod_prod_inv
        INTO v_prod_id
        FROM producto_inversion
        WHERE cod_prod_inv = :b_id_prod;
        
    IF (v_prod_id IS NULL) THEN
        RAISE e_prod_inexistente;
    END IF;
    
    SELECT
        NVL(MAX(nro_solic_prod), 0)
        INTO v_ult_id
        FROM producto_inversion_socio
        WHERE cod_prod_inv = v_prod_id;
    
    IF (v_ult_id = 0) THEN
        DBMS_OUTPUT.PUT_LINE('CREANDO NUEVO NRO_SOLIC_PROD.');
        v_ult_id := v_prod_id * 10000;
    END IF;
    v_ult_id := v_ult_id + 1;
    
    EXCEPTION
        WHEN e_prod_inexistente THEN
            DBMS_OUTPUT.PUT_LINE('PRODUCTO DE INVERSIÓN INEXISTENTE.');
END;