VAR b_comuna VARCHAR2(50)
    EXEC :b_comuna := '&NOMBRE_COMUNA';
VAR b_region VARCHAR2(50)
    EXEC :b_region := '&NOMBRE_REGION';

DECLARE
    /*Cusor que realiza búsqueda de similitudes de nombres de comuna
        modificar para a futuro insertar los cod a NUEVO SOCIO.
    */
    CURSOR cur_ubicacion (p_nombre_comuna COMUNA.nombre_comuna%TYPE, p_nombre_region REGION.nombre_region%TYPE) IS
        SELECT
            c.cod_comuna
                id_comuna,
            c.cod_provincia
                id_provincia,
            c.cod_region
                id_region
        FROM region r
            JOIN provincia p
                ON r.cod_region = p.cod_region
            JOIN comuna c
                ON c.cod_region = r.cod_region AND c.cod_provincia = p.cod_provincia
        WHERE UPPER(c.nombre_comuna) LIKE UPPER('%'||p_nombre_comuna||'%')
                AND UPPER(r.nombre_region) LIKE UPPER('%'||p_nombre_region||'%');
    
    
    rec_ubicacion  cur_ubicacion%ROWTYPE;
    e_multiple_comuna   EXCEPTION;
    e_no_comuna         EXCEPTION;
BEGIN
    DBMS_OUTPUT.PUT_LINE('<Ingreso_Ubicacion>');
    OPEN cur_ubicacion(:b_comuna, :b_region);
    LOOP
        FETCH cur_ubicacion INTO rec_ubicacion;
        IF (cur_ubicacion%NOTFOUND) THEN
            IF (cur_ubicacion%ROWCOUNT = 0) THEN
                RAISE e_no_comuna;
            ELSIF (cur_ubicacion%ROWCOUNT != 1) THEN
                RAISE e_multiple_comuna;
            END IF;
            
            EXIT;
        END IF;
    END LOOP;
    
    CLOSE cur_ubicacion;
    
    DBMS_OUTPUT.PUT_LINE(rec_ubicacion.id_comuna);
    DBMS_OUTPUT.PUT_LINE(rec_ubicacion.id_provincia);
    DBMS_OUTPUT.PUT_LINE(rec_ubicacion.id_region);
    DBMS_OUTPUT.PUT_LINE('EXITO</Ingreso_Ubicacion>');
    EXCEPTION
        WHEN e_no_comuna THEN
            DBMS_OUTPUT.PUT_LINE('NO SE ENCONTRÓ COMUNA ESPECIFICADA. POR FAVOR ESPECIFIQUE.');
        WHEN e_multiple_comuna THEN
            DBMS_OUTPUT.PUT_LINE('SE ENCONTRÓ MULTIPLES COMUNAS. POR FAVOR ESPECIFIQUE.');
END;