VAR b_cod_prod NUMBER
    EXEC :b_cod_prod := &ID_PROD_INV;
    
VAR b_dia_pago  NUMBER
    EXEC :b_dia_pago := &DIA_PAGO_MENSUAL;
    
VAR b_monto_min_mensual NUMBER
    EXEC :b_monto_min_mensual := &AHORRO_MINIMO_MENSUAL;

DECLARE
    rec_prod_inv_soc    producto_inversion_socio%ROWTYPE;
    
    e_dia_pago          EXCEPTION;
    e_ahorro_negativo   EXCEPTION;
BEGIN
    IF ( (:b_dia_pago <= 0) OR (:b_dia_pago >= 32) ) THEN
        RAISE e_dia_pago;
    END IF;
        
    DBMS_OUTPUT.PUT_LINE('DIA PAGO VALIDO: '||:b_dia_pago);

    IF (:b_monto_min_mensual <= 0) THEN
        RAISE e_ahorro_negativo;
    END IF;

    SELECT
        cod_prod_inv
        INTO rec_prod_inv_soc.cod_prod_inv
        FROM producto_inversion
        WHERE cod_prod_inv = :b_cod_prod;
        
    DBMS_OUTPUT.PUT_LINE('PRODUCTO DE INVERSIÓN ENCONTRADO Y ALMACENADO.');
    
    
    
    rec_prod_inv_soc.fecha_solic_prod := SYSDATE;
    rec_prod_inv_soc.ahorro_minimo_mensual := :b_monto_min_mensual;
    rec_prod_inv_soc.dia_pago_mensual := :b_dia_pago;
    rec_prod_inv_soc.cod_prod_inv := :b_cod_prod;
    rec_prod_inv_soc.monto_total_ahorrado := 0;
    
    EXCEPTION
        WHEN e_dia_pago THEN
            DBMS_OUTPUT.PUT_LINE('DIA INVÁLIDO. DEBE ESCOGER DIA ENTRE 1 A 31.');
        WHEN e_ahorro_negativo THEN
            DBMS_OUTPUT.PUT_LINE('AHORRO MINIMO MENSUAL NO PUEDE SER 0 O NEGATIVO');
        WHEN NO_DATA_FOUND THEN
            DBMS_OUTPUT.PUT_LINE('CODIGO PRODUCTO DE INVERSIÓN INEXISTENTE.');
END;