/*
    TODO:
        - CREAR VARIABLES LOCALES PARA CADA PROCESO QUE DEBA
            USAR DATOS DE REC_CLIENTE. SEGUIR ALMACENANDO EN
            REC_SOCIO.
        - CONFIRMAR SI SE PUEDE HACER UN VARRAY DE RECORDS.
*/

<<Validacion_Y_Registro_Clientes>>
DECLARE

    /*
    ver si se puede hacer
    TYPE cur_clientes type IS REF CURSOR RETURN gtt_clientes%ROWTYPE;
    cv_cliente cur_clientes_type;
    */
    CURSOR cur_clientes IS
        SELECT
            *
        FROM gtt_clientes;
        
    TYPE socio_arr_type IS TABLE OF socio%ROWTYPE INDEX BY PLS_INTEGER;
    cliente_valido_arr socio_arr_type;
    iterador PLS_INTEGER := 0;
    
    -- Records
    rec_cliente     cur_clientes%ROWTYPE;
    rec_socio       socio%ROWTYPE;
    
    -- Variables buffer para procedimiento Ingreso_NombreApellido
    v_str_nonull    VARCHAR2(50);
    v_str_null      VARCHAR2(50);
    v_f_nombres     BOOLEAN;
    v_f_apellidos   BOOLEAN;
    
    -- FLAGS para saber procedimientos exitosos para almacenar en tabla siguiente.
    v_f_proc_rundv          BOOLEAN;
    v_f_proc_nombreapellido BOOLEAN;
    v_f_proc_fecnac         BOOLEAN;
    v_f_proc_ubicacion      BOOLEAN;
    v_f_proc_profesion      BOOLEAN;
    v_f_proc_tipo_socio     BOOLEAN;
    
    v_sqlerrm       VARCHAR2(120);
BEGIN
    
    OPEN cur_clientes;
    LOOP
        rec_socio       := NULL;
        
        -- Inicializacion de variables por cada cliente recorrido.
        v_str_nonull    := NULL;
        v_str_null      := NULL;
        v_f_nombres     := TRUE;
        v_f_apellidos   := TRUE;
        
        v_f_proc_rundv          := FALSE;
        v_f_proc_nombreapellido := FALSE;
        v_f_proc_fecnac         := FALSE;
        v_f_proc_ubicacion      := FALSE;
        v_f_proc_profesion      := FALSE;
        v_f_proc_tipo_socio     := FALSE;
        
        FETCH cur_clientes INTO rec_cliente;
        IF (cur_clientes%NOTFOUND) THEN
            DBMS_OUTPUT.PUT_LINE('SE PROCESARON '||cur_clientes%ROWCOUNT||' CLIENTE(S).');
            EXIT;
        END IF;
        
        <<Proceso_Cliente>>
        BEGIN
            DBMS_OUTPUT.PUT_LINE('CLIENTE:');
            DBMS_OUTPUT.PUT_LINE('|RUN: '||rec_cliente.run_dv);
            DBMS_OUTPUT.PUT_LINE('|PNOMBRE: '||rec_cliente.pnombre);
            DBMS_OUTPUT.PUT_LINE('|SNOMBRE: '||rec_cliente.snombre);
            DBMS_OUTPUT.PUT_LINE('|APPATERNO: '||rec_cliente.appaterno);
            DBMS_OUTPUT.PUT_LINE('|APMATERNO: '||rec_cliente.apmaterno);
            DBMS_OUTPUT.PUT_LINE('+------------');
            
--------------------------------------------------------------------------------
            
            <<Ingreso_Run_Dv>>
            DECLARE
                v_run_str   VARCHAR2(10) NOT NULL := '00000000';
                v_numrun    NUMBER(10)   NOT NULL := 0;
                v_dvrun     VARCHAR2(1)  NOT NULL := 'A';
                v_piv_guion NUMBER(1);
                
                
                e_largo_invalido EXCEPTION;
                e_dv_incorrecto     EXCEPTION;
                PRAGMA EXCEPTION_INIT(e_dv_incorrecto, -6502);
            BEGIN
                DBMS_OUTPUT.PUT_LINE('<Ingreso_Run_Dv>');
                v_run_str := (REPLACE(rec_cliente.run_dv, '.', ''));
                v_piv_guion := INSTR(v_run_str, '-');
                
                v_dvrun := UPPER(SUBSTR(v_run_str, v_piv_guion+1, (LENGTH(v_run_str)-v_piv_guion)));
                v_run_str := SUBSTR(v_run_str, 1, v_piv_guion-1);
                
                v_numrun := TO_NUMBER(v_run_str);
            
                IF((LENGTH(v_numrun) < 7) OR (LENGTH(v_numrun) > 8))  THEN 
                    RAISE e_largo_invalido;
                END IF;
                
                IF (v_dvrun != 'K') THEN
                    v_dvrun := TO_CHAR(TO_NUMBER(v_dvrun)); 
                END IF;
                
                rec_socio.numrun := v_numrun;                                   -- ALMACENADO numrun
                rec_socio.dvrun := v_dvrun;                                     -- ALMACENADO dvrun
                
                v_f_proc_rundv := TRUE;
                DBMS_OUTPUT.PUT_LINE('EXITO</Ingreso_Run_Dv>');
                EXCEPTION
                WHEN e_largo_invalido THEN
                    v_sqlerrm := SQLERRM;
                    INSERT INTO error_proceso
                    VALUES(
                        SEQ_ERROR.NEXTVAL,
                        v_sqlerrm,
                        'Error de cliente en Ingreso_Run_Dv: LARGO DE RUT INVÁLIDO'
                    );
                    DBMS_OUTPUT.PUT_LINE('LARGO DE RUT INVÁLIDO');
                WHEN e_dv_incorrecto THEN
                    v_sqlerrm := SQLERRM;
                    INSERT INTO error_proceso
                    VALUES(
                        SEQ_ERROR.NEXTVAL,
                        v_sqlerrm,
                        'Error de cliente en Ingreso_Run_Dv: DV INCORRECTO O FORMATO ERRONEO'
                    );
                    DBMS_OUTPUT.PUT_LINE('DV INCORRECTO O FORMATO ERRONEO.');
                WHEN OTHERS THEN
                    v_sqlerrm := SQLERRM;
                    INSERT INTO error_proceso
                    VALUES(
                        SEQ_ERROR.NEXTVAL,
                        v_sqlerrm,
                        'ERROR EN PROCEDIMIENTO Ingreso_Run_Dv'
                    );
                    DBMS_OUTPUT.PUT_LINE('ERROR NUM '||SEQ_ERROR.CURRVAL||': INESPERADO.');
            END; -- FIN Ingreso_Run_Dv
            DBMS_OUTPUT.PUT_LINE('</Ingreso_Run_Dv>');
            
--------------------------------------------------------------------------------
            
            LOOP -- INICIO INGRESO NOMBRE
                IF (v_f_nombres) THEN
                    v_str_nonull := rec_cliente.pnombre;
                    v_str_null   := rec_cliente.snombre;
                ELSIF (v_f_apellidos) THEN
                    v_str_nonull := rec_cliente.appaterno;
                    v_str_null   := rec_cliente.apmaterno;
                END IF;
            
                <<Ingreso_Nombre_Apellido>>
                DECLARE
                    v_no_null   VARCHAR2(50) NOT NULL := '0';
                    v_null      VARCHAR2(50);
                    
                    
                    e_str_null  EXCEPTION;
                    PRAGMA EXCEPTION_INIT(e_str_null, -6502);
                BEGIN
                    DBMS_OUTPUT.PUT_LINE('<Ingreso_Nombre_Apellido>');
                    v_str_nonull := UPPER(TRIM(TRANSLATE(v_str_nonull, 'a1234567890 ', 'a')));
                    v_str_null := UPPER(TRIM(TRANSLATE(v_str_null, 'a1234567890 ', 'a')));
                    
                    v_no_null := v_str_nonull;
                    
                    DBMS_OUTPUT.PUT_LINE('EXITO</Ingreso_Nombre_Apellido>');
                    EXCEPTION
                        WHEN e_str_null THEN
                            v_sqlerrm := SQLERRM;
                            DBMS_OUTPUT.PUT_LINE('NOMBRE NO PUEDE ESTAR VACÍO O SER NUMÉRICO.'); 
                        WHEN OTHERS THEN
                            v_sqlerrm := SQLERRM;
                            DBMS_OUTPUT.PUT_LINE('ERROR NUM '||SEQ_ERROR.CURRVAL||': INESPERADO');
                END; -- FIN Ingreso_Nombre
                DBMS_OUTPUT.PUT_LINE('</Ingreso_Nombre_Apellido>');
                
                IF (v_str_nonull IS NOT NULL) THEN
                    IF (v_f_nombres) THEN
                        rec_socio.pnombre := v_str_nonull;                      -- ALMACENADO pnombre
                        rec_socio.snombre := v_str_null;                        -- ALMACENADO snombre
                        v_f_nombres := FALSE;
                    ELSE
                        rec_socio.appaterno := v_str_nonull;                    -- ALMACENADO appaterno
                        rec_socio.apmaterno := v_str_null;                      -- ALMACENADO apmaterno
                        v_f_apellidos := FALSE;
                        v_f_proc_nombreapellido := TRUE;
                    END IF;
                ELSE
                    /*
                        CONSIDERAR UNA TABLA EXTRA PARA ALMACENAR CLIENTES CON DATOS ERRÓNEOS
                        PARA TENER REGISTRO A LA COOPERATIVA DE QUÍEN SE INTERESÓ
                        Y EN QUÉ SE EQUIVOCÓ CON LOS DATOS.
                    */
                    EXIT;
                END IF;
                EXIT WHEN v_f_apellidos = FALSE;
            END LOOP; -- FIN INGRESO NOMBRE
            
--------------------------------------------------------------------------------
            
            <<Ingreso_Fecha_nac>>
            DECLARE
                v_nac_str VARCHAR2(10) NOT NULL := '0';
                v_nac   DATE;
                v_edad  NUMBER(3);
                
                
                e_menor_edad EXCEPTION;
            BEGIN
                DBMS_OUTPUT.PUT_LINE('<Ingreso_Fecha_Nac>');
                v_nac_str := (REPLACE(rec_cliente.fecha_nac, '-', ''));
                v_nac := TO_DATE(v_nac_str, 'YYYYMMDD');
                
                v_edad := TRUNC(MONTHS_BETWEEN(SYSDATE, v_nac) / 12);
                
                IF (v_edad < 18) THEN
                    RAISE e_menor_edad;
                ELSE
                    rec_socio.fecha_nacimiento := v_nac;                        -- ALMACENADO fec_nac
                    v_f_proc_fecnac := TRUE;
                    IF (v_edad >= 60) THEN
                        DBMS_OUTPUT.PUT_LINE('A CONSIDERAR PARA TRAMO 3RA EDAD.');
                    END IF;
                END IF;
                
                IF (EXTRACT(MONTH FROM SYSDATE) = EXTRACT(MONTH FROM v_nac)
                        AND EXTRACT(DAY FROM SYSDATE) = EXTRACT(DAY FROM v_nac)) THEN
                    DBMS_OUTPUT.PUT_LINE('FELIZ CUMPLEAÑOS :)');
                END IF;
                
                DBMS_OUTPUT.PUT_LINE('EXITO</Ingreso_Fecha_Nac>');
                EXCEPTION
                    WHEN e_menor_edad THEN
                        v_sqlerrm := SQLERRM;
                        DBMS_OUTPUT.PUT_LINE('CLIENTE ES MENOR DE EDAD');
                    WHEN OTHERS THEN
                        v_sqlerrm := SQLERRM;
                        DBMS_OUTPUT.PUT_LINE('ERROR NUM '||SEQ_ERROR.CURRVAL||': INESPERADO');
            END;
            DBMS_OUTPUT.PUT_LINE('</Ingreso_Fecha_Nac>');
            
--------------------------------------------------------------------------------
            
            <<Ingreso_Ubicacion>>
            DECLARE
                /*Cusor que realiza búsqueda de similitudes de nombres de comuna
                    modificar para a futuro insertar los cod a NUEVO SOCIO.
                */
                CURSOR cur_ubicacion (p_nombre_comuna COMUNA.nombre_comuna%TYPE, p_nombre_region REGION.nombre_region%TYPE) IS
                    SELECT
                        c.cod_comuna
                            id_comuna,
                        c.cod_provincia
                            id_provincia,
                        c.cod_region
                            id_region
                    FROM region r
                        JOIN provincia p
                            ON r.cod_region = p.cod_region
                        JOIN comuna c
                            ON c.cod_region = r.cod_region AND c.cod_provincia = p.cod_provincia
                    WHERE UPPER(c.nombre_comuna) LIKE UPPER('%'||p_nombre_comuna||'%')
                            AND UPPER(r.nombre_region) LIKE UPPER('%'||p_nombre_region||'%');
                
                
                rec_ubicacion  cur_ubicacion%ROWTYPE;
                
                
                e_multiple_comuna   EXCEPTION;
                e_no_comuna         EXCEPTION;
            BEGIN
                DBMS_OUTPUT.PUT_LINE('<Ingreso_Ubicacion>');
                OPEN cur_ubicacion(rec_cliente.comuna, rec_cliente.region);
                LOOP
                    FETCH cur_ubicacion INTO rec_ubicacion;
                    IF (cur_ubicacion%NOTFOUND) THEN
                        IF (cur_ubicacion%ROWCOUNT = 0) THEN
                            RAISE e_no_comuna;
                        ELSIF (cur_ubicacion%ROWCOUNT != 1) THEN
                            RAISE e_multiple_comuna;
                        END IF;
                        EXIT;
                    END IF;
                END LOOP;
                
                CLOSE cur_ubicacion;
                
                rec_socio.direccion := rec_cliente.direccion;
                rec_socio.cod_comuna := rec_ubicacion.id_comuna;                -- ALMACENADO cod_comuna
                rec_socio.cod_provincia := rec_ubicacion.id_provincia;          -- ALMACENADO cod_provincia
                rec_socio.cod_region := rec_ubicacion.id_region;                -- ALMACENADO cod_region
                
                v_f_proc_ubicacion := TRUE;
                DBMS_OUTPUT.PUT_LINE('EXITO</Ingreso_Ubicacion>');
                EXCEPTION
                    WHEN e_no_comuna THEN
                        v_sqlerrm := SQLERRM;
                        DBMS_OUTPUT.PUT_LINE('NO SE ENCONTRÓ COMUNA ESPECIFICADA. POR FAVOR ESPECIFIQUE.');
                    WHEN e_multiple_comuna THEN
                        v_sqlerrm := SQLERRM;
                        DBMS_OUTPUT.PUT_LINE('SE ENCONTRÓ MULTIPLES COMUNAS. POR FAVOR ESPECIFIQUE.');
                    WHEN OTHERS THEN
                        v_sqlerrm := SQLERRM;
                        DBMS_OUTPUT.PUT_LINE('ERROR NUM '||SEQ_ERROR.CURRVAL||': INESPERADO');
                        
            END;
            DBMS_OUTPUT.PUT_LINE('</Ingreso_Ubicacion>');
            
--------------------------------------------------------------------------------
            <<Ingreso_Profesion>>
            DECLARE
                
                e_profesion_erroneo EXCEPTION;
                PRAGMA EXCEPTION_INIT(e_profesion_erroneo, 100);
            BEGIN
                DBMS_OUTPUT.PUT_LINE('<Ingreso_Profesion>');
                SELECT
                    cod_prof_ofic
                    INTO rec_socio.cod_prof_ofic                                -- ALMACENADO cod_prof_ofic
                    FROM profesion_oficio
                    WHERE cod_prof_ofic = rec_cliente.cod_prof_ofic;
                
                v_f_proc_profesion := TRUE;
                DBMS_OUTPUT.PUT_LINE('EXITO</Ingreso_Profesion>');
                EXCEPTION
                    WHEN e_profesion_erroneo THEN
                        v_sqlerrm := SQLERRM;
                        DBMS_OUTPUT.PUT_LINE('PROFESION NO SE ENCUENTRA.');
                    WHEN OTHERS THEN
                        v_sqlerrm := SQLERRM;
                        DBMS_OUTPUT.PUT_LINE('ERROR NUM '||SEQ_ERROR.CURRVAL||': INESPERADO');
                        
            END; -- FIN
            DBMS_OUTPUT.PUT_LINE('</Ingreso_Profesion>');
            
--------------------------------------------------------------------------------
            
            <<Ingreso_Tipo_Socio>>
            DECLARE
                
                e_socio_erroneo EXCEPTION;
                PRAGMA EXCEPTION_INIT(e_socio_erroneo, 100);
            BEGIN
                DBMS_OUTPUT.PUT_LINE('<Ingresar_Tipo_Socio>');
                SELECT
                    cod_tipo_socio
                    INTO rec_socio.cod_tipo_socio                               -- ALMACENADO cod_tipo_socio
                    FROM tipo_socio
                    WHERE cod_tipo_socio = rec_cliente.cod_tipo_socio;
                
                v_f_proc_tipo_socio := TRUE;
                DBMS_OUTPUT.PUT_LINE('EXITO</Ingreso_Tipo_Socio>');
                EXCEPTION
                    WHEN e_socio_erroneo THEN
                        v_sqlerrm := SQLERRM;
                        DBMS_OUTPUT.PUT_LINE('TIPO SOCIO ERRONEO. INGRESE CORRECTAMENTE');
                    WHEN OTHERS THEN
                        v_sqlerrm := SQLERRM;
                        DBMS_OUTPUT.PUT_LINE('ERROR NUM '||SEQ_ERROR.CURRVAL||': INESPERADO');
            END;
            DBMS_OUTPUT.PUT_LINE('</Ingreso_Tipo_Socio>');
            
--------------------------------------------------------------------------------


            IF (v_f_proc_rundv AND v_f_proc_nombreapellido
                AND v_f_proc_fecnac AND v_f_proc_ubicacion
                AND v_f_proc_profesion AND v_f_proc_tipo_socio) THEN
                rec_socio.fecha_inscripcion := SYSDATE;                         -- ALMACENADO fecha_inscripcion
                iterador := iterador + 1;
                cliente_valido_arr(iterador) := rec_socio;
            END IF;

        END; -- FIN PROC_CLIENTE
        
    END LOOP; -- FIN CURSOR CLIENTE GTT
    DBMS_OUTPUT.PUT_LINE('SE HA TERMINADO DE RECORRER CLIENTES.');
    
    COMMIT;
    
    IF (iterador > 0) THEN
        FOR j IN 1..iterador LOOP
            INSERT INTO gtt_cliente_validado
            VALUES(
                cliente_valido_arr(j).numrun,
                cliente_valido_arr(j).dvrun,
                cliente_valido_arr(j).pnombre,
                cliente_valido_arr(j).snombre,
                cliente_valido_arr(j).appaterno,
                cliente_valido_arr(j).apmaterno,
                EMPTY_BLOB(),
                cliente_valido_arr(j).fecha_nacimiento,
                cliente_valido_arr(j).fecha_inscripcion,
                'correo@gmail.com',
                912345678,
                cliente_valido_arr(j).direccion,
                cliente_valido_arr(j).cod_region,
                cliente_valido_arr(j).cod_provincia,
                cliente_valido_arr(j).cod_comuna,
                cliente_valido_arr(j).cod_prof_ofic,
                cliente_valido_arr(j).cod_tipo_socio
                
            );
            
        END LOOP;
    END IF;
    
END;